<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
<!--    <div>-->
<!--        <form th:action="@{AddPerformance}" th:object="${PerformanceForm}" method="post">-->
<!--            <input type="text" th:field="*{title}" name="title" placeholder="Enter title of the performance">-->
<!--            <input type="text" th:field="*{genre}" name="genre" placeholder="Enter genre of the performance">-->
<!--            <input type="text" th:field="*{theater}" name="theater" placeholder="Enter theater">-->
<!--            <input type="text" th:field="*{date}" name="date" placeholder="Enter date of the performance">-->
<!--            <input type="text" th:field="*{time}" name="time" placeholder="Enter time of the performance">-->
<!--            <button type="submit">Add performance</button>-->
<!--        </form>-->
<!--    </div>-->
    <div>Performance list:
        <table>
            <tr>
                <th><h1>Performance</h1></th>
                <th><h1>Genre</h1></th>
                <th><h1>Theater</h1></th>
                <th><h1>Date</h1></th>
                <th><h1>Time</h1></th>
            </tr>
            <tr th:each="performance : ${performances}">
                <td th:utext="${performance.title}"></td>
                <td th:utext="${performance.genre}"></td>
                <td th:utext="${performance.theater.name}"></td>
                <td th:utext="${performance.date}"></td>
                <td th:utext="${performance.time}"></td>
            </tr>
        </table>
    </div>
</div>
<div>
    <div>
        <form th:action="@{AddActor}" th:object="${ActorForm}" method="post">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of actor">
            <button type="submit">Add actor</button>
        </form>
        <form th:action="@{ActorChange}" th:object="${ActorForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of actor">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of actor">
            <button type="submit">Change actor</button>
        </form>
        <form th:action="@{DeleteActor}" th:object="${ActorForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of actor">
            <button type="submit">Delete actor</button>
        </form>
        <form method="post" action="ActorFilter">
            <input type="text" name="filter" placeholder="Enter name of actor">
            <button type="submit">Find actor</button>
        </form>
    </div>

    <div>Actor list:
        <table>
            <tr>
                <th><h1>ID</h1></th>
                <th><h1>Actor</h1></th>
            </tr>
            <tr th:each="actor : ${actors}">
                <td th:utext="${actor.id}"></td>
                <td th:utext="${actor.name}"></td>
            </tr>
        </table>
    </div>
</div>
<div>
    <div>
        <form th:action="@{AddTheater}" th:object="${TheaterForm}" method="post">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of the theater">
            <button type="submit">Add theater</button>
        </form>
        <form th:action="@{ChangeTheater}" th:object="${TheaterForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of the theater">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of the theater">
            <button type="submit">Change theater</button>
        </form>
        <form th:action="@{DeleteTheater}" th:object="${TheaterForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of the theater">
            <button type="submit">Delete theater</button>
        </form>
        <form method="post" action="TheaterFilter">
            <input type="text" name="filter" placeholder="Enter name of the theater">
            <button type="submit">Find theater</button>
        </form>
    </div>

    <div>Theater list:
        <table>
            <tr>
                <th><h1>ID</h1></th>
                <th><h1>Theater</h1></th>
            </tr>
            <tr th:each="theater : ${theaters}">
                <td th:utext="${theater.id}"></td>
                <td th:utext="${theater.name}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>